html,
body,
#stage {
  height: 100%;
  background: rgb(49, 2, 2);
}

.curtain {
  position: absolute;
  background: -moz-linear-gradient(right, rgba(88, 4, 4, 0), #470404, rgba(51, 51, 51, 0.993), #4d4d4d), -moz-linear-gradient(right, rgba(51, 51, 51, 0.997), rgba(77, 77, 77, 0.999), rgba(51, 51, 51, 0.998));
  background: -o-linear-gradient(right, rgba(0, 0, 0, 0), #4d4d4d, rgba(51, 51, 51, 0.993), #4d4d4d), -o-linear-gradient(right, rgba(51, 51, 51, 0.997), rgba(77, 77, 77, 0.999), rgba(51, 51, 51, 0.998));
  background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), #4d4d4d, rgba(51, 51, 51, 0.993), #9c5656), -webkit-linear-gradient(right, rgba(51, 51, 51, 0.997), rgba(77, 77, 77, 0.999), rgba(51, 51, 51, 0.998));
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #4d4d4d, rgba(51, 51, 51, 0.993), #4d4d4d), linear-gradient(to left, rgba(51, 51, 51, 0.997), rgba(77, 77, 77, 0.999), rgba(75, 33, 33, 0.998));
  background-size: 67px 67px, 53px 53px;
  width: 60%;
  height: 100%;
  margin-left: -10%;
  transition: width 2s, -webkit-transform 1s;
}

.balance {
  position: absolute;
  background: -moz-linear-gradient(right, rgba(0, 0, 0, 0), #470707, rgba(26, 26, 26, 0.993), #4b0606), -moz-linear-gradient(right, rgba(26, 26, 26, 0.997), rgba(38, 38, 38, 0.999), rgba(26, 26, 26, 0.998));
  background: -o-linear-gradient(right, rgba(0, 0, 0, 0), #4d4d4d, rgba(26, 26, 26, 0.993), #4d4d4d), -o-linear-gradient(right, rgba(26, 26, 26, 0.997), rgba(38, 38, 38, 0.999), rgba(26, 26, 26, 0.998));
  background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), #5f2f2f, rgba(26, 26, 26, 0.993), #4d4d4d), -webkit-linear-gradient(right, rgba(26, 26, 26, 0.997), rgba(38, 38, 38, 0.999), rgba(26, 26, 26, 0.998));
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #470303, rgba(26, 26, 26, 0.993), #4d4d4d), linear-gradient(to left, rgba(26, 26, 26, 0.997), rgba(38, 38, 38, 0.999), rgba(26, 26, 26, 0.998));
  background-size: 67px 67px, 53px 53px;
  background-size: 79px 79px, 61px 61px;
  width: 100%;
  height: 15%;
  transition: height 2s 1s;
}

#curtain-right {
  right: 0;
  margin-right: -10%;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
}

.spotlight {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 40;
  background: -moz-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(82, 3, 3, 0.671) 60%), -moz-radial-gradient(circle, rgba(54, 3, 3, 0), rgba(0, 0, 0, 0.5) 40%);
  background: -o-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 60%), -o-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 40%);
  background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 60%), -webkit-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 40%);
  background: radial-gradient(circle, rgba(65, 3, 3, 0.733), rgba(0, 0, 0, 0.3) 60%), radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 40%);
  background-attachment: fixed;
  background-position: -80px 0, 80px 0;
}

#stage:hover #curtain-left {
  width: 0;
  -webkit-transform: matrix(1, 0, -0.2, 1, 0, 0);
  -moz-transform: matrix(1, 0, -0.2, 1, 0, 0);
  -ms-transform: matrix(1, 0, -0.2, 1, 0, 0);
  -o-transform: matrix(1, 0, -0.2, 1, 0, 0);
}

#stage:hover #curtain-right {
  width: 0;
  -webkit-transform: matrix(-1, 0, 0.2, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0.2, 1, 0, 0);
  -ms-transform: matrix(-1, 0, 0.2, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0.2, 1, 0, 0);
}

#stage:hover .balance {
  height: 0;
}