// path to built-ins
// refers to corresponding mixins, functions etc.: - 
// "devs/..."

// used breakpoints pattern: NMTD
// narrow mobile tablet desktop

// --------- _@imports_ ----------

// -------------------------------
// ------- _shared values_ -------

// -------------------------------

// -------- common rules ---------
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all ease .4s;
}
*:hover {
  transition: all ease .4s;
}
li {
  list-style-type:none;
}
// -------------------------------
// ---------- :root --------------
body {
  height: 100vh;
}
// -------------------------------    
// ---------- header -------------
header {

}
// -------------------------------
// ------- sidebar left ----------
aside.left {

}
// -------------------------------
// ------ sidebar right ----------
aside.right {

}
// -------------------------------
// ------- main > header ---------
main > .header {

}

// -------------------------------
// ------- main > content -----------
main > .content {

}
// -------------------------------
// ------- main > footer ---------
main > .footer {

}
// -------------------------------
// ---------- footer -------------
footer {

}
// -------------------------------