// path to built-ins
// refers to corresponding mixins, functions etc.: - 
// "devs/..."

// used breakpoints pattern: NMTD
// narrow mobile tablet desktop

// --------- _@imports_ ----------

// -------------------------------
// ------- _shared values_ -------

// -------------------------------


// ---------- :root --------------
:root {
  font-size: 16px;
}
body {

}
// -------------------------------  
// -------- common rules ---------
* {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
@font-face {
  font-family: 'SarsaparillaNF';
  src: url('../scss/font/SarsaparillaNF.ttf');
}
@font-face {
  font-family: 'RiotSquadNF';
  src: url('../../scss/font/RiotSquadNF.ttf');
}
@font-face {
  font-family:'CATHohenzollern.ttf';
  src: url('../../scss/font/CAT\ Hohenzollern.ttf');
}
a:hover{
  color: #FFDC5B;
}
a:visited{
  color:#8D55FF;
}
a:active{
  text-decoration: none;
}
// -------------------------------
// ---------- header -------------
header {

}
.title .main {
font-size: 3.5em;
font-weight: 600;
color: #443C39;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.title .subtitle {
  letter-spacing: 0.109em;
  font-size: 1.125em;
  font-weight: 600;
  color: #443C39;
  }  

ul.main p {
  font-size: 1.875rem;
font-weight: 600;
color: #F7F5F1;
opacity: 0.9;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
ul.main .mc p {
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
}   
// -------------------------------
// ------- sidebar left ----------
aside.left {

}
// -------------------------------
// ------ sidebar right ----------
aside.right {

}
// -------------------------------
main {}
// ------- main > header ---------
main>.header {}

// -------------------------------
// ------- main > content -----------
main>.content {}


// -------------------------------
// ------- main > footer ---------
main>.footer {}

// -------------------------------
// ---------- footer -------------
footer {

}
// -------------------------------

