:root {
  font-size: 16px;
}

@font-face {
  font-family: 'SarsaparillaNF';
  src: url('../scss/font/SarsaparillaNF.ttf');
};

@font-face {
  font-family: 'RiotSquadNF';
  src: url('../../scss/font/RiotSquadNF.ttf');
};

@font-face {
  font-family:'CATHohenzollern.ttf';
  src: url('../../scss/font/CAT\ Hohenzollern.ttf');
};