// path to built-ins
// refers to corresponding mixins, functions etc.: - 
// "devs/..."

// used breakpoints pattern: NMTD
// narrow mobile tablet desktop

// --------- _@imports_ ----------

// -------------------------------
// ------- _shared values_ -------

// -------------------------------


// ---------- :root --------------
:root {
  font-size: 16px;
}
body {

}
// -------------------------------  
// -------- common rules ---------
* {
  font-family: "Montserrat", sans-serif;
}
@font-face {
  font-family: 'SarsaparillaNF';
  src: url('../scss/font/SarsaparillaNF.ttf');
}
@font-face {
  font-family: 'RiotSquadNF';
  src: url('../../scss/font/RiotSquadNF.ttf');
}
@font-face {
  font-family:'CATHohenzollern.ttf';
  src: url('../../scss/font/CAT\ Hohenzollern.ttf');
}
a:hover{
  color: #FFDC5B;
}
a:visited{
  color:#8D55FF;
}
a:active{
  text-decoration: none;
}
// -------------------------------
// ---------- header -------------
header {

}
// -------------------------------
// ------- sidebar left ----------
aside.left {

}
// -------------------------------
// ------ sidebar right ----------
aside.right {

}
// -------------------------------
// ------- main > header ---------
main.header {

}
// -------------------------------
// ------- main > content -----------
main.content {

}
// -------------------------------
// ------- main > footer ---------
main.footer {

}
// -------------------------------
// ---------- footer -------------
footer {

}
// -------------------------------

