// path to built-ins
// refers to corresponding mixins, functions etc.: - 
// "devs/..."

// just remember @import "#{$path}/filename" doesn't work
// temp workaround for current filename
$filename: desktop;

// used breakpoints pattern: NMTD
// narrow mobile tablet desktop

// --------- _@imports_ ----------

// -------------------------------
// ----- _shared sass values_ ----

// -------------------------------
$mediaQ: only screen #{$filename};

@include media($mediaQ) {

    // ---------- :root --------------
    body {
        $grid-template-columns: side 1 main 2 side 1;
        $grid-template-rows: head 1 main 2 foot 1;
        @include grid($grid-template-columns, $grid-template-rows);
    }

    // -------------------------------    
    // ---------- header -------------
    header {
        $grid-column: main 1;
        $grid-row: head 1;
        @include grid-item($grid-column, $grid-row);
        $flex-items: center top row;
        @include flex($flex-items);
    }
    // -------------------------------
    // ------- sidebar left ----------
    aside.left {}

    // -------------------------------
    // ------ sidebar right ----------
    aside.right {}

    // -------------------------------
    main {
        $grid-column: main 1;
        $grid-row: main 1;
        @include grid-item($grid-column, $grid-row);
        $flex-items: center center;
        @include flex($flex-items);
    }
    // ------- main > header ---------
    main>.header {}

    // -------------------------------
    // ------- main > content -----------
    main>.content {}


    // -------------------------------
    // ------- main > footer ---------
    main>.footer {}

    // -------------------------------
    // ---------- footer -------------
    footer {}

    // -------------------------------

}