//here is where we will style the main page.

//font theme for the page (vintage style);
@font-face {
    font-family: 'SarsaparillaNF';
    src: url('../scss/font/SarsaparillaNF.ttf');
};

body {
    background-color: blue;
}

#mainTitle {
    font-size: 40px;
    display: flex;
}

